body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.content-previewer h1 {
  font-weight: 400;
  color: #0070F2;
}

.content-previewer h2 {
  font-weight: 400;
  color: #0070F2;
}

.content-previewer h3 {
  font-weight: 400;
  color: #0070F2;
}

.content-previewer h4 {
  font-weight: 400;
  color: #0070F2;
}

.content-previewer h5 {
  font-weight: 400;
  color: #0070F2;
}

.content-previewer h6 {
  font-weight: 400;
  color: #0070F2;
}

.content-previewer hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #eee;
}

.content-previewer blockquote {
  border-left: 1px solid #ddd;
  padding: 0 1rem;
}

.content-previewer p code {
  border: 1px dashed #ccc;
  background-color: #fafafa;
  font-family: monospace;
  color: #333;
  font-weight: 700;
  font-size: 11px;
  padding: 0 0.2rem;
}

.content-previewer pre {
  border: 1px dashed #ccc;
  background-color: #fafafa;
  font-family: monospace;
  color: #333;
  font-weight: 400;
  font-size: 11px;
  padding: 0.5rem;
}

.content-previewer table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  margin: 1rem 0;
}

.content-previewer table th {
  background-color: #eee;
}

.content-previewer table th,
.content-previewer table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.content-previewer table tr:hover {
  background-color: #fafafa;
}

.content-previewer a {
  text-decoration: none;
  color: #0057d2;
}

.content-previewer a:hover {
  text-decoration: dashed underline;
}